<div class='col-lg-12'>

<h1 id="doctorName" class='text-center'>Contacts</h1>

	<div id='info' class="col-lg-12">
		<%= image_tag "drKim.jpg" %>

		<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
		Need a dental examination? Call us!
		</button>

		<p>Name: Dr. Jin Tai Yin, Amy</p>
		<p>BDS (HKU)</p>
		<p>Hong Kong Adventist Hospital</p>
		<p>Tel: (852) 3651 8888 /
			4001 206 016 (China Toll Free)</p>
		<p>Email: 
		<%= mail_to "hkahinfo@hkah.org.hk" %>
		</p>

		<p>Address: 40 Stubbs Road, Hong Kong</p>

	</div>

	<div class="indexTags">
		<%= link_to "Home", index_path %>

		<%= link_to "Facebook", 'http://www.facebook.com'%>
	</div>

</div>