<div class="col-lg-12">

	<div id="doctorName" class="col-lg-12">Dr Kim
	</div>

	<p id="par" class"col-lg-12">My deserves ... I haven't thought about it for years.  May be work as a voleenter in the third world ....
	</p>

	<div class='indexTags'>
	<%= link_to "Home", index_path %>
	</div>

</div>