<dir class="col-lg-12">

	<dir id="secondBackground"></dir>

		<dir id="doctorName">Dr Kim - Hobbies</dir>

		<p id="par">Activities:</p>

		<div id="bullet" class="col-lg-12 col-md-12 col-sl-12 col-xs-12">
			<ul class="bulletAct col-lg-6 col-md-6 col-sl-6 col-xs-6">

				<ol>Swimming</ol>
				<ol>Running</ol>
				<ol>Paddeling kayak</ol>

			</ul>

			<ul class="bulletArt col-lg-6 col-md-6 col-sl-6 col-xs-6">

				<ol>Viewing arts</ol>
				<ol>Drawing</ol>
				<ol>Reading</ol>

			</ul>

		</div>

		<div class='indexTags'>
		<%= link_to "Home", index_path %>
		</div>


</dir>