<div class="container">
  <div class="row">
    <div class="col-xs-12">
			<h1 class='logo text-center'>Welcome to the Diabetes Cured!</h1>

      <p class="sp-content text-center">This is the place to begin your education and treatment about diabetes.
      <br>
      The articles section of our site provides basic overviews of the major issues surroiunding diabetes, with plenty of links to more in-depth information if you need it.
      <br>
      There is no way to predict your chance of getting type 1 diabetes, but you can familiarize yourself with its symptoms.
      </p>

		</div>
  </div>
</div>