<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
			<h1 class='logo'>Diabetes Cured</h1>

      <p class="sp-content">I will be fine, if I control my glucose in take.</p>

		</div>
  </div>
</div>