<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
			<h1 id='sugarless'>Sugarless</h1>

      <a class="btn btn-primary btn-lg" href="/users/sign_up">Sign Up</a>
      <a class="btn btn-primary btn-lg" href="/users/sign_in">Sign In</a>

			<a class="btn btn-primary btn-lg" action="log_out.php">Sign Out</a>
      
      <input type="button" value="log out" onclick="location.href='index'">

		</div>
  </div>
</div>