<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
			<h1 class='logo'>Welcome to the Diabetes Cured!</h1>

      <p class="sp-content">You will be fine, if you control your glucose in take.</p>

		</div>
  </div>
</div>