<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class='welcome'>Welcome to the Diabetes Cured!</h1>

      <h2 class="slogen">Measure! Report! Get cured!</h2>
      <div class="sp-content">
        <p>This is the place to begin your education and treatment about diabetes.
        </p>
        <p>
        The articles section of our site provides basic overviews of the major issues surrounding diabetes, with plenty of links to more in-depth information if you need it.
        </p>
        <p>
        There is no way to predict your chance of getting type 1 diabetes, but you can familiarize yourself with its symptoms.
        </p>
      </div>
      <% if current_user %>
      <div class="text-general">
        <p>Step 1:<br>Click on the <%= link_to "Readings", readings_path, :method => :get, :class => "btn btn-primary" %>

        <br>Step 2:<br>Enter your glucose level (mmol/L) and weight (lb).
        </p>
      </div>

      <% else %>
      <% end %>
    </div>
  </div>
</div>


