<h1 class="text-general">Article page</h1>

<div class="row text-general">

<% @articles.each do |article| %>


  <div class="col-lg-6">
    <div class="article-box">
      <h2 class="article-title"><%= article.title %></h2>
      <p class="article-content"><%= article.content %></p>
      <img src="<%= article.image_url%>" class="article-image">
    </div>
  </div>


<% end %>

</div>