/*.body-background{
  background-color: #6998e1;
  color: #333330;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}



.right {
  vertical-align: right;
}



#new-user {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

.new-user-form {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

.new-user-text {
  padding: 5px 5px 5px 0px;
  font-size: 18px;
}

.profile-text {
  padding: 5px 5px 5px 5px;
  font-size: 18px;
}

#edit-user {
  padding: 10px 10px 10px 10px;
}*/