.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
}

.right {
  vertical-align: right;
}

#new-user {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

.new-user-form {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

.new-user-text {
  padding: 5px 5px 5px 0px;
  font-size: 18px;
}

.profile-text {
  padding: 5px 5px 5px 5px;
  font-size: 18px;
}

#edit-user {
  padding: 10px 10px 10px 10px;
}

.content-btn {
  padding: 5px 5px 5px 5px;
}

.heading {
  color: black;
}

.table-text {
  color: black;
}

.text-general{
  color: black;
}

.f-password {
  color: #233466;
}

.text-centre {
  text-align: center;
}

.new-reading-form {
  margin-top: 40px;
}

.title-spacing {
  min-width: 100px;
}

.spacing {
  padding: 5px 5px 5px 5px;
}