.body-background{
  /*background-color: #333330;*/
  background-color: #6998e1;
  /*color: #bfbfbb;*/
  color: #333330;
}

.secondBackground{
	width: 50%;
	height: 100%;
	background-color: white;
	/*background-position: center;*/
}

.thirdBackground{
	width: 20%;
	height: 30%;
	background-color: #cf68a4;
	
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#doctorName {
	font-family: "Trattatello", arial;
	font-size: 60px;
	/*text-align: center;*/
	margin-top: 30px;
	margin-left: 30px;
}

.indexTags {
	font-family: sans-serif, arial;
	font-size: 15px;
	text-align: left;
	padding: 5px 10px 30px 10px;
}

.button {
	margin-left: 80px;
	margin-top: 30px;
}

#par {
	font-family: sans-serif, arial;
	text-align:  center;
}

#info {
	font-family: "Noteworthy", arial;
	font-size: 20px;
	text-align: center;
}

#bullet {
	font-family: "Noteworthy", arial;
	text-align: center;
}

.bulletAct {
	float: left;
	font-size: 40px;
}

.bulletArt {
	float: right;
	font-size: 40px;
}

.modal-title {
	font-family: "Trattatello", arial;
	font-size: 20px;
}