.body-background{
  /*background-color: #6998e1;
  color: #333330;*/
  background-image: image-url("BrushesForNav.png");
  /*background-color: #233466;*/
  background-color: rgba(35, 52, 102, .8);

  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
}

.logo {
  /*background-image: image-url("ellipse.png");*/
  background-size: 250px 70px;
  background-repeat: no-repeat;
  font-family: "Trattatello", arial;
  font-size: 40px;
  color: #44b7f4;
  /*text-align: center;*/
  padding: 10px 10px 10px 20px;
}

.articles a {
  font-family: "Trattatello", arial;
  font-size: 30px;
  /*color: #F9B938;*/
  color: #A249E8;
}
.articles a:hover {
  text-decoration: none;
}
.text {
  font-family: sans-serif, arial;
  font-size: 14px;
  color: white;
}

.top {
  height: 80px;
 /* background-color: #00096b;
  opacity: 0.6;*/
  background-color: rgba(0, 9, 107, .6);
}

.sign-buttons {
  text-align: right;
  padding: 20px 10px 10px 5px;
}

#left-div {
  min-height: 1000px;
  /*background-color: #00096b;*/
  padding: 10px 10px 10px 10px;
  /*opacity: 0.6;*/
  background-color: rgba(0, 9, 107, .6);
}

#left-div-inner {
  padding: 10px 10px 10px 10px;
}

.left-div-ind {
  padding: 10px 10px 10px 10px;
}

.layouts-left-btn {
  padding: 5px 5px 5px 5px;
}

.email-text {
  font-size: 20px;
} 

.layouts-content {
  padding: 5px 5px 5px 10px;
}