// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sp-content {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  /*background-color: rgba(78, 181, 244, .3);*/
  max-width: 500px;
}

.welcome {
  font-family: "Trattatello", arial;
  font-size: 70px;
  color: #44b7f4;
}
.slogen {
  font-family: "SignPainter-HouseScript", arial;
  font-size: 90px;
  color: #233466;
}
